<template>
    <div>
        <player-selected-item-component :selectedItem="obj" :userId="userId"></player-selected-item-component>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div v-for="type in typesWithItems" class="col pb-4">
                <h1 class="fs-3 mb-2">{{ type.title }}</h1>

                <ul class="nav">
                    <template v-for="item in type.items">
                        <li class="nav-item border border-4 rounded me-1 mt-1"
                            :class="{ 'border-danger': item.id === this.selectedItemId }">

                            <img :src="'/storage/' + item.image"
                                 @click="changeSelectedItem(item.id, item.title, item.description, item.type_id, item.image)"
                                 class="p-1"
                                 style="max-width: 70px"
                                 :alt="item.title">
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import PlayerSelectedItemComponent from "./SelectedItemComponent.vue";

export default {
    name: "PlayerItemsByTypeComponent",

    data() {
        return {
            typesWithItems: null,
            selectedItemId: null,
            title: null,
            description: null,
            type_id: null,
            obj: {
                id: null,
                title: null,
                desc: null,
                type_id: null,
                image: null
            }
        }
    },

    props: [
        'userId'
    ],

    mounted() {
        this.getItemsByType()
        this.isSelected()
    },

    methods: {

        getItemsByType() {
            axios.get('/api/player/types-with-items')
                .then(res => {
                    this.typesWithItems = res.data;
                })
        },

        changeSelectedItem(id, title, description, type_id, image) {
            this.selectedItemId = id
            this.obj.id = id
            this.obj.title = title
            this.obj.description = description
            this.obj.type_id = type_id
            this.obj.image = image
        },

        isSelected() {
            return this.selectedItemId;
        },

    },

    components: {
        PlayerSelectedItemComponent,
    }
}
</script>

<style scoped>

</style>
