<template>
    <div v-if="this.$parent.selectedItemId" class="row" style="height: 190px">
        <div class="col text-center mt-6">
            <p class="fs-1">{{ selectedItem.title }}</p>
        </div>
        <div class="col text-center">
            <p class="fs-1">{{ selectedItem.description }}</p>
        </div>
        <div class="col text-center">
            <p class="fs-1">Type: {{ itemTypes[selectedItem.type_id - 1].title }}</p>
            <button @click="addToCart" class=" col text-center btn btn-success">Add to cart</button>


            <div class="col-md-4 col-lg-3 col-xl-3 d-flex">
                <i @click="decrementQty" class="bi bi-dash"></i>
                <input v-model="quantity" class="form-control form-control-sm">
                <i @click="incrementQty" class="bi bi-plus"></i>
            </div>
        </div>
    </div>
    <div v-else class="row" style="height: 190px"></div>
</template>

<script>
export default {
    name: "SelectedItemComponent",

    data() {
        return {
            quantity: 1,
            itemTypes: null,

        }
    },

    props: [
        'userId', 'selectedItem'
    ],

    mounted() {
        this.getItemTypes()
    },

    methods: {
        getItemTypes() {
            axios.get('/api/player/item-types')
                .then(res => {
                    this.itemTypes = res.data;
                })
        },

        incrementQty() {
            this.quantity++
        },

        decrementQty() {
            if (this.quantity > 1) {
                this.quantity--
            }
        },

        addToCart() {
            axios.post('/api/player/add-to-cart', {
                user_id: this.userId,
                item_id: this.selectedItem.id,
                quantity: this.quantity
            })
                .then(res => {
                    this.$root.$refs.cartCounter.getCartItemCount();
                })
        },

    },

}
</script>

<style scoped>

</style>
