<template>
    <div class="w-50">
        <div class="mb-3">
            <input type="text" class="form-control" v-model="title" id="title" placeholder="title">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" v-model="description" id="description" placeholder="description">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" v-model="type_id" id="type" placeholder="type">
        </div>
        <div class="mb-3" :class="issetPreviewImage() ? '' : 'd-none' ">
            <img :src="previewImage" class="border border-3 rounded p-1" style="max-height: 200px"/>
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" @change=uploadImage>
        </div>
        <div class="mb-3">
            <input @click.prevent="addItem" type="submit" class="btn btn-success" value="Create new item">
        </div>
    </div>

    <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
    </ul>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Craft</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-start g-5 py-1">

<!--------------Left Section------------------------------------------------------------------------------------------->
            <div class="col d-flex flex-column align-items-start gap-2">
                <div class="container text-center">
                    <div class="row row-cols-3 g-0" style="height: 180px; width: 180px">

                        <template v-for="(position, key) in craftTable">
                            <div class="col col-craft rounded border border-2 border-dark"
                                 style="height: 60px; width: 60px"
                                 @click="addItemToCraft(key, itemDataForCraft)">

                                <img v-if="craftTable[key] !== null" :src="'/storage/' + craftTable[key].image"
                                     class="p-1" style="max-height: 59px; max-width: 59px"
                                     :alt="craftTable[key].title">
                            </div>
                        </template>

                    </div>
                </div>
            </div>

<!--------------Right Section------------------------------------------------------------------------------------------>
            <div class="col">

                <input type="search" v-model="search" class="form-control" placeholder="Item for search...">

                <ul class="nav mt-2">

                    <li class="nav-item border border-4 rounded me-1 mt-1" @click="clearSelectedItem()">
                        <button type="button" class="btn-close"></button>
                    </li>

                    <template v-for="item in filteredList">
                        <li class="nav-item border border-4 rounded me-1 mt-1"
                            :class="{ 'border-danger' : item.id === selectedItem.id }">
                            <img :src="'/storage/' + item.image"
                                 @click="changeSelectedItem(item.id, item.title, item.image)"
                                 class="p-1"
                                 style="max-width: 40px"
                                 :alt="item.title">
                        </li>
                    </template>
                </ul>
            </div>

        </div>
    </div>

</template>
<!--------------------------------------------------------------------------------------------------------------------->

<script>

export default {
    name: "CreateItemComponent",

    data() {
        return {
            title: null,
            description: null,
            type_id: null,
            previewImage: null,
            image: null,
            craft: null,

            itemsForCraft: null,
            search: '',
            selectedItem: {
                id: null,
                title: null,
                image: null
            },

            craftTable: {
                1: null,
                2: null,
                3: null,
                4: null,
                5: null,
                6: null,
                7: null,
                8: null,
                9: null,
            },

            errors: []
        }
    },

    mounted() {
        this.getItems()
    },

    methods: {
        getItems() {
            axios.get('/api/admin/items')
                .then(res => {
                    this.itemsForCraft = res.data.data;
                })
        },

        changeSelectedItem(id, title, image) {
            this.selectedItem.id = id
            this.selectedItem.title = title
            this.selectedItem.image = image
        },

        clearSelectedItem() {
            this.selectedItem.id = null
            this.selectedItem.title = null
            this.selectedItem.image = null
        },

        addItemToCraft(position, itemData) {
            this.craftTable[position] = itemData
        },

        addItem() {

            const formData = new FormData

            formData.set('title', this.title)
            formData.set('description', this.description)
            formData.set('type_id', this.type_id)
            formData.set('image', this.image)

            for (let position in this.craftTable) {
                if (this.craftTable[position] !== null) {
                    formData.append('position_' + position, this.craftTable[position].id)
                }
            }

            axios.post('/api/admin/items', formData)
                .then(res => {
                    this.title = null
                    this.description = null
                    this.type_id = null
                    this.previewImage = null
                    this.image = null
                    Object.keys(this.craftTable).forEach((i) => this.craftTable[i] = null);
                })
                .catch(error => {
                    let messages = Object.values(error.response.data.errors);
                    this.errors = [].concat.apply([], messages);
                })
        },

        uploadImage(e) {
            this.image = e.target.files[0]
            const image = e.target.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(image)
            reader.onload = e => {
                this.previewImage = e.target.result
            };
        },

        issetPreviewImage() {
            return this.previewImage !== null
        },

    },

    computed: {
        itemDataForCraft() {
            let item = null;

            if (this.selectedItem.id) {
                item = {
                    id: this.selectedItem.id,
                    title: this.selectedItem.title,
                    image: this.selectedItem.image,
                }
            }
            return item;
        },

        filteredList() {
            if (this.search.trim().length > 0) {
                return this.itemsForCraft.filter(item => {
                    return item.title.toLowerCase().includes(this.search.toLowerCase())
                })
            }
            return this.itemsForCraft
        }
    }
}
</script>

<style scoped>

.col-craft {
    background-color: #969696;
}
</style>
