<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Type ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <template v-for="item in items">
                <tr :class="isEdit(item.id) ? 'd-none' : ''">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.type_id }}</td>
                    <td><a href="#"
                           @click.prevent="changeEditItemId(item.id, item.title, item.description, item.type_id)"
                           class="btn btn-success">Edit</a></td>
                    <td><a href="#" @click.prevent="deleteItem(item.id)" class="btn btn-danger">Delete</a></td>
                </tr>
                <tr :class="isEdit(item.id) ? '' : 'd-none'">
                    <th scope="row">-></th>
                    <td><input type="text" v-model="title" class="form-control"></td>
                    <td><input type="text" v-model="description" class="form-control"></td>
                    <td><input type="number" v-model="type_id" class="form-control"></td>
                    <td><a href="#" @click.prevent="updateItem(item.id)" class="btn btn-success">Update</a></td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "ItemsTableComponent",

    data() {
        return {
            items: null,
            editItemId: null,
            title: null,
            description: null,
            type_id: null
        }
    },

    mounted() {
        this.getItems()
    },

    methods: {
        getItems() {
            axios.get('/api/admin/items')
                .then(res => {
                    this.items = res.data.data;
                })
        },

        updateItem(id) {
            this.editItemId = null

            axios.patch(`/api/admin/items/${id}`, {title: this.title, description: this.description, type_id: this.type_id})
                .then(res => {
                    this.getItems()
                })
        },

        deleteItem(id) {

            axios.delete(`/api/admin/items/${id}`)
                .then(res => {
                    this.getItems()
                })
        },

        changeEditItemId(id, title, description, type_id) {
            this.editItemId = id
            this.title = title
            this.description = description
            this.type_id = type_id
        },

        isEdit(id) {
            return this.editItemId === id
        }
    },
}
</script>

<style scoped>

</style>
