<template>
    <div v-if="this.$parent.selectedItemId" class="row" style="height: 190px">
        <div class="col text-center mt-6">
            <p class="fs-1">{{ selectedItem.title }}</p>
        </div>
<!--        <div class="col text-center">-->
<!--            <p class="fs-1">{{ selectedItem.description }}</p>-->
<!--        </div>-->



        <div class="col text-center">
            <div class="col d-flex flex-column align-items-start gap-2">
                <div class="container text-center">
                    <div class="row row-cols-3 g-0" style="height: 180px; width: 180px">

                        <template v-for="position in craftTable">
                            <div class="col col-craft rounded border border-2 border-dark"
                                 style="height: 60px; width: 60px">
<!--                                <img v-if="craftTable[key] !== null" :src="'/storage/' + craftTable[key].image"-->
<!--                                     class="p-1" style="max-height: 59px; max-width: 59px"-->
<!--                                     :alt="craftTable[key].title">-->
                            </div>
                        </template>

                    </div>
                </div>
            </div>
        </div>



        <div class="col text-center">
            <p class="fs-1">Type id: {{ selectedItem.type_id }}</p>
            <button @click="addToCart" class=" col text-center btn btn-success">Add to cart</button>


            <div class="col-md-4 col-lg-3 col-xl-3 d-flex">
                <i @click="decrementQty" class="bi bi-dash"></i>
                <input v-model="quantity" class="form-control form-control-sm">
                <i @click="incrementQty" class="bi bi-plus"></i>
            </div>
        </div>
    </div>
    <div v-else class="row" style="height: 190px"></div>
</template>

<script>
export default {
    name: "SelectedItemComponent",

    data() {
        return {
            quantity: 1,
            craftTable: Array(9),
        }
    },

    props: [
        'userId', 'selectedItem'
    ],

    created() {
        this.getItemCraft(this.selectedItem.id) // problem that id did not exist when I try use it  !!!!!!
    },

    methods: {

        incrementQty() {
            this.quantity++
        },

        decrementQty() {
            if (this.quantity > 1) {
                this.quantity--
            }
        },

        addToCart() {
            axios.post('/api/add-to-cart', {
                user_id: this.userId,
                item_id: this.selectedItem.id,
                quantity: this.quantity
            })
                .then(res => {
                    this.$root.$refs.cartCounter.getCartItemCount();
                })
        },

        getItemCraft(id) {
            axios.get(`/api/admin/${id}/craft`)
                .then(res => {
                    console.log(res.data);
                })
        }

    },

}
</script>

<style scoped>

</style>
