<template>
    <div>
        <a :href="cartRoute"><i class="bi bi-minecart"></i>{{ cartItemCount }}</a>
    </div>
</template>

<script>
export default {
    name: "CartCounterComponent",

    data() {
        return {
            cartItemCount: null
        }
    },

    props: [
        'userId', 'cartRoute'
    ],

    mounted() {
        this.getCartItemCount()
    },

    methods: {
        getCartItemCount() {
            axios.get(`/api/player/get-cart-count/${this.userId}`)
                .then(res => {
                    this.cartItemCount = res.data;
                })
        },

    },
}
</script>

<style scoped>
.bi {
    font-size: 20px;
}
</style>
