<template>
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#" class="text-body">price <i
                            class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                </div>

                <div v-for="item in itemsInCart" class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2 btn border-secondary pb-3 pt-2">
                                <a href="/"><img
                                    :src="'/storage/' + item.item.image"
                                    class="img-fluid rounded-3" alt="Cotton T-shirt"></a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{ item.item.title}}</p>
                                <p><span class="text-muted">Type: </span>{{ item.item.type_id }}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" :value="item.quantity"  type="number"
                                       class="form-control form-control-sm"/>

                                <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <p>Full</p>
                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">price $ (in future update)</h5>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <i @click="deleteItemFromCart(item.id)" class="bi bi-x-square"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "CartComponent",

    data() {
        return {
            itemsInCart: null
        }
    },

    props: [
        'userId'
    ],

    mounted() {
        this.getItemsInShoppingCart()
    },

    methods: {
        getItemsInShoppingCart() {
            axios.get(`/api/player/user-cart/${this.userId}`)
                .then( res => {
                    this.itemsInCart = res.data;
                })
        },

        deleteItemFromCart(recordId) {
            axios.delete(`/api/player/user-cart/delete/${recordId}`)
            .then( res => {
                this.getItemsInShoppingCart();
                this.$root.$refs.cartCounter.getCartItemCount();
            })
        }
    }
}
</script>

<style scoped>
.bi {
    font-size: 20px;
    color: red;
}
</style>
